@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto&display=swap');
/*

Color de fondo de respaldo background-image: #ecb038; naranja
Fondo fildsets: rgba(20, 19, 19, 0.7); oscuro con transparencia
Fondo elementos legend: hsla(313, 93%, 15%, 0.9); fucsia oscuro con transparencia
Fondo inputs focus: rgb(0, 0, 0, 0.9); negro con transparencia
Color texto de elementos legend: #dde7f0 azul claro
Color texto H1: #fff; blanco
Color fondo botones: #rgb(0, 0, 0, 0.9); negro con transparencia
Color texto botones: #dde7f0 azul claro
Color fondo botones hover: rgb(0, 0, 0, .9); negro con transparencia
Color texto botones hover: #7c9993; agua marina grisáceo
Color separador: rgba(255, 255, 255, 0.9) blanco con transparencia
Color fondo del input y text area onfocus: hsla(313, 93%, 75%, 0.9); fucsia suave
Color texto del input y text area onfocus: #000; negro


*/


body{
    background-image: url(/img/retro-background.jpg);
    background-color: #ecb038;
    background-size: 130%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: 0 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #1f2023;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    min-width: 25rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color: #fff;
    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #ff00de,
        0 0 70px #ff00de,
        0 0 80px #ff00de,
        0 0 100px #ff00de,
        0 0 150px #ff00de;
}

fieldset{
    background-color: rgba(20, 19, 19, 0.7);
    padding: 1.3rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

legend{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-variant: small-caps;
    background-color: hsla(313, 93%, 15%, 0.9);
    color: #fff;
    text-align: left;
    border-radius: 3px;
    box-shadow: hsla(322, 87%, 66%, 0.4) 0px 5px, hsla(322, 87%, 56%, 0.3) 0px 10px, hsla(322, 87%, 56%, 0.2) 0px 15px, hsla(322, 87%, 56%, 0.1) 0px 20px, hsla(322, 87%, 56%, 0.05) 0px 25px;
}

span {
    vertical-align: super;
}

label,
.label-sexo {
    margin: 0.5rem auto;
    width: 100px;
    display: block;
    align-items: left;
    font-size: 0.9rem;
}

label,
input,
select,
textarea {
    width: 70%;
}

input,
textarea,
input::placeholder {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #555555;
}

textarea {
    height: 100px;
    min-height: 100px;
    max-height: 400px;
    resize: vertical;
}

.texto-derecha{
    text-align: right;
}

.inline{
    display: inline-flex;
}

.separador{
    border-bottom: rgba(255, 255, 255, 0.9) dotted 0.7rem;
    margin: 2rem auto;
    width: 50%;

}

.input-condiciones{
    width: 500px;
    color: #fff;
}

body > p,
body > label,
body > .obligatorio {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    text-align: left;
}

body > p {
    font-weight: 600;
    font-size: smaller;
}

.btn {
    gap: 3rem;
    justify-content: center;
    margin: 30px;
    display: inline-block;
    flex-direction: column-reverse;
    margin: 3rem;
    text-align: center;
}

.btn-submit,
.btn-reset {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    width: auto;
    height: 0.5rem;
    padding: 1.2rem 1rem;
    margin: 1rem;
    background-color: rgb(0, 0, 0, 0.9);
    border: hsl(208, 39%, 20%) solid 2px;
    color: hsl(208, 39%, 90%);
    border-radius: 3px;
}

.btn-submit:hover,
.btn-reset:hover {
    background-color: hsla(313, 93%, 60%, 0.9);
    color: hsl(208, 39%, 10%);
}

label > input {
    width: fit-content;
    margin: 0;
    margin-right: 5px;
}

#campo-obligatorio {
    text-align: left;
    color: #fff;
    font-weight: 600;
    font-size: smaller;
}
.condiciones-pie {
    margin: 0;
    margin-bottom: 5px;
    text-align: left;
    color: #fff;
    font-weight: 600;
    font-size: smaller;
}


input:focus,
textarea:focus {
    background-color: hsl(40, 83%, 87%);
    color: #000;
}

#toggle-theme {
    width: 100px;
}

#toggle-theme,
#dices,
#recordar {
    height: 50px;
    margin: 0.7rem 0.5rem 1rem;
    padding: 0.6em 2em;
    width: 100px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#toggle-theme:before,
#dices::before,
#recordar::before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-toggle-theme 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-toggle-theme {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#toggle-theme:after,
#dices:after,
#recordar:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#dices {
    position: relative;
}

img {
    width: 50px;
}

.container-style-buttons {
    display: flex;
    justify-content: center;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#label-input-estilos > label {
    margin: 1rem auto;
    display: inline-flex;
    justify-content: center;
    color: #000;
    font-size: 0.8rem;
    align-items: center;
}