/*
Colores usados
#775548 Color h2, de las tipografías
#edece9 Color del body
#ef681f Color de los links
*/

body{
    background-color: #edece9;
    font-family: Verdana, Arial, Sans-serif;
    color: #775548;
}

img{
    width: 100%;
}

h2{
    background-color: #775548;
    color:#edece9;
}

a{
    color: #ef681f;
    font-weight: bold;
}

.link-blue{
    color: #39aac3;
}

.link-red{
    color: #ef4e4c;
}

.gold{
    color: #d8b13b;
}