/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
    text-align: center;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../css/img/background.jpg);
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

label,
dt {
    font-weight: 700;
    color: #b8f5f5;
}

dl {
    margin: 50px auto;
}

input,
dd {
    margin-bottom: 10px;
}

dd {
    border: solid 2px;
    border-radius: 3 px;
    padding: 5px;
    background-color: #fff;
}

header {
    width: 100%;
    top: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: #b8f5f5;
    
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerMember1,
.containerMember2 {
    margin: 20px 5%;
}

.form {
    background-color: white;
    margin: 20px 40%;
    padding-top: 50px; padding-bottom: 50px;
    line-height: 50px;
}

.buttons {
    margin: 30px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button {
    padding: 5px;
    border-radius: 3px;
    background-color: #FB9F6A;
    font-weight: 700;
}
.button:hover {
    background-color: black;
    color: #b8f5f5;;
}

[placeholder] {
    padding: 10px;
    box-shadow: 2px 2px 5px;
}